/* css for body section */
body{
    background-image: url(./assets/images/background.jpg);
    display: grid;
    gap: 7px;
    grid-template-areas: 'header'
                        'profile';
    font-size: larger;
}


/* styling for header section */
#navbar{
    grid-area: header;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: rgba(18, 18, 18, 0.85);
    padding: 10px;
}

header>div>a{
    text-decoration: none;
    color: white;
}

/* styling for profile section */
#intro{
    grid-area: profile;
    display:grid;
    gap: 12px;
    grid-template-areas: 'intro intro dp';
    background-color: rgba(18, 18, 18, 0.85);
    color: white;
    padding: 12px;
}

.intro{
    grid-area: intro;
    text-align: justify;
}

.dp{
    grid-area: dp;
    display: block;
    width: 85%;
    margin: 10px;
    border: 0px solid aliceblue;
    border-radius: 10px;
}